#root {
  width: 100%;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  
  font-size: 16px;
  line-height: 1.5;
  background-color: #f2f2f2;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
  color: white;
  background-color: black;
}

main {
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.tshirt {
  width: 300px;
  margin: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

img {
  width: 100%;
  max-width: 250px;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin-bottom: 10px;
}

form {
  margin-top: 10px;
}

label {
  font-size: 16px;
}

input {
  font-size: 16px;
  padding: 5px;
  margin-right: 10px;
}

button {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #666;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
